<div class="container row" style="margin-top: 20px; height: 100%;">
    <div class="col m6 s10 offset-m3 offset-s1 z-depth-4" style="padding: 20px 10px;">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field appearance="fill" class="col s12">
                <mat-label>Username</mat-label>
                <input matInput formControlName="id">
            </mat-form-field>
            <mat-form-field appearance="fill" class="col s12">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
            </mat-form-field>
            <div class="col s12 center" style="margin-top: 20px;">
                <button mat-raised-button color="accent">Login</button>
            </div>
        </form>
    </div>
</div>