<div *ngIf="storeInfo.loader" class="valign-wrapper" style="height: 100vh; width: 100vw; position: absolute; background-color: rgba(252, 252, 252, 0.4); z-index: 100;">
    <div class="valign-wrapper" style="height: 100vh; width: 100%; position: fixed;">
        <div class="load" style="height: 100px; width: 100px; margin: 0 auto; "></div>
    </div>
    <div class="valign-wrapper" style="height: 100vh; width: 100%; position: fixed;">
        <div class="load2" style="height: 90px; width: 90px; margin: 0 auto; "></div>
    </div>
    <div class="valign-wrapper" style="height: 100vh; width: 100%; position: fixed;">
        <div class="load3" style="height: 80px; width: 80px; margin: 0 auto; "></div>
    </div>
    <div class="valign-wrapper" style="height: 100vh; width: 100%; position: fixed;">
        <div class="load4" style="height: 70px; width: 70px; margin: 0 auto; "></div>
    </div>
</div>
<p>
  <mat-toolbar class="accent-4 z-depth-3 mainnav" style="padding: 0;background-image: url(./assets/1.jpg);">
    <div style="height: 100%; width: 100%; padding: 0px 16px; align-items: center; display: flex;" class="navlayer">
      <span class="hover-cursor white-text" (click)="goTohome()">Requip</span>
      <span class="example-spacer"></span>
      <button *ngIf="storeInfo.isSignedIn"  mat-icon-button class="example-icon favorite-icon" (click)="gotoProfile()">
        <img src="{{storeInfo.mediaServer}}/{{storeInfo.image}}" style="height: 100%;border-radius: 50%;">
      </button>
      <mat-icon *ngIf="storeInfo.isSignedIn" [matMenuTriggerFor]="menu" class="hover-cursor white-text">arrow_drop_down</mat-icon>
      <mat-menu #menu="matMenu" style="background-color: antiquewhite;">
        <a mat-menu-item (click)="logout()">Logout</a>
      </mat-menu>
    </div>
    
  </mat-toolbar>
</p>
<router-outlet></router-outlet>   