.example-spacer {
  flex: 1 1 auto;
}
mat-form-field input {
  border: none;
  height: initial !important;
  margin: 0;
}
mat-form-field input:focus {
  border: none;
  box-shadow: none;
  height: initial !important;
}

.load{
  border: 2px;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  
}
.load{
  border: 2px;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  
}
.load2{
  border: 2px;
  border-radius: 50%;
  border-top: 2px solid #dbd034;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.load3{
  border: 2px;
  border-radius: 50%;
  border-top: 2px solid #ee3737;
  -webkit-animation: spin 0.7s linear infinite; /* Safari */
  animation: spin 0.7s linear infinite;
}
.load4{
  border: 2px;
  border-radius: 50%;
  border-top: 2px solid #1cb83d;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mat-menu-item {
  background-color: 'red' !important;
}
.mainnav{
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navlayer{
  background-color: rgba(0, 0, 0, 0.7);
}