<p *ngIf="storeInfo.isSignedIn">
  <mat-toolbar >
    <span>Requip</span>
    <span class="example-spacer"></span>
    <button  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>   