.row{
  margin-bottom: 0 !important;
}
.col{
  padding: 0;
  margin: 0;
}
.cover{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.col{
  height: 100%;
}
.col .cover:hover{
  background-color: rgba(206, 201, 201, 0.349) !important;
}
.col .cover:hover h1{
  font-size: 50px !important;
}
@media only screen and (max-width: 600px){
  .col{
    height: 50%;
  }
}