<div style="width: 100vw; height: 100%; top: 0; position: absolute;">
  <div class="row" style="height: 100%; width: 100vw">
    <div class="col s12 m6 pink accent-3">
      <div class="cover valign-wrapper center-align hover-cursor" routerLink="/posts">
        <h1 class="white-text" style="width: 100%;">buy & Sell</h1>
      </div>
    </div>
    <div class="col s12 m6 green">
      <div class="cover valign-wrapper center-align hover-cursor">
        <h1 class="white-text" style="width: 100%;">entertainment(in dev)</h1>
      </div>
    </div>
  </div>
</div>