<div class="container" style="margin-top: 20px;">
    <div class="row mainform">
        <div class="form-img col m3 offset-m2 s10 offset-s1 form-image z-depth-4" style="padding: 0; height: 100%;" >
            <div id="layer" class="left-align">
                <h3>SignUp</h3><br>
                <h5>This application is much better when you have an account, Get Yourself One</h5>
                <div class="white-text" style="bottom: 0; position: absolute; z-index: 12;">
                    <div class="cont-bottom center-align">
                        <h5>Already have an Account? <a href="./login"><b>LogIn</b></a> </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col m10 s11" style="padding: 0; height: 5px; position: absolute; z-index: 11;">
        <div class="col m5 s8 blue accent-3 right" style="height: 100%;"></div>
        </div>
        <div class="col m5 s10 offset-s1 z-depth-4 white valign-wrapper form-out">
            <form [formGroup]="signupForm" (ngSubmit)="signUp()" style="z-index: 10;">
                <mat-vertical-stepper color="warn" #stepper [linear] = "true" style="background-color: transparent;">
                    <mat-step [stepControl]="signupForm.get('name') && signupForm.get('username')" >
                        <ng-template matStepLabel>Basic Details</ng-template>
                        <mat-form-field appearance="outline">
                          <mat-label>Name</mat-label>
                          <input matInput placeholder="Abhishek" formControlName="name" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="username" placeholder="abhishek0220" required>
                        </mat-form-field>
                    </mat-step>
                    <mat-step [stepControl]="signupForm.get('email') && signupForm.get('phone_number')">
                        <ng-template matStepLabel>Contact Details</ng-template>
                        <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input matInput formControlName="email" placeholder="2018ucs0087@iitjammu.ac.in" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Mobile</mat-label>
                            <input matInput formControlName="phone_number" placeholder="9797######" required>
                        </mat-form-field>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName="password" placeholder="******" required>
                        </mat-form-field>
                        <div class="col right" style="margin-top: 20px; margin-right: 20px; height: 50px;">
                            <button mat-raised-button class="blue accent-3 white-text">SignUp <mat-icon>play_arrow</mat-icon></button>
                        </div>
                    </mat-step>
                  </mat-vertical-stepper>
            </form>
        </div>
    </div>
</div>